<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
    <p style="font-size: 12px">Bahasa Indonesia</p>
    <p style="font-size: 16px">Bapak/Ibu/Sdr. {{ .Name }},</p>
    <p style="font-size: 16px">Kami menerima permintaan mereset password akun Anda pada sistem akreditasi jurnal (ARJUNA) Fasilitasi Jurnal Ilmiah KEMENRISTEK/BRIN hari ini. Berikut adalah informasi login terbaru:</p>
    <br/>
    <p style="font-size: 16px">Username : <b>{{ .Username }}</b></p>
    <p style="font-size: 16px">Password : <b>{{ .Password }}</b></p>
    <br/>
    <p style="font-size: 16px">Klik <a href="https://arjuna.kemdikbud.go.id/#/login">disini</a> untuk melanjutkan login.</p>
    <br/>
    <hr style="border: 1px solid black;"/>
    <br/>
    <p style="font-size: 12px">English</p>
    <p style="font-size: 16px">Mr./Mrs. {{ .Name }},</p>
    <p style="font-size: 16px">We have received a new request to reset your account on National Journal Accreditation (ARJUNA). Here's your temporary credentials.</p>
    <br/>
    <p style="font-size: 16px">Username : <b>{{ .Username }}</b></p>
    <p style="font-size: 16px">Password : <b>{{ .Password }}</b></p>
    <br/>
    <p style="font-size: 16px">Click <a href="https://arjuna.kemdikbud.go.id/#/login">here</a> to continue logging in.</p>

</body>



</html>