<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
    <p style="font-size: 16px">First Name : <b>{{ .FirstName }}</b></p>
    <p style="font-size: 16px">Last Name : <b>{{ .LastName }}</b></p>
    <p style="font-size: 16px">Email : <b>{{ .Email }}</b></p>
    <p style="font-size: 16px">Phone : <b>{{ .Phone }}</b></p>
    <p style="font-size: 16px">Subject : <b>{{ .Subject }}</b></p>
    <p style="font-size: 16px">Message : <b>{{ .Message }}</b></p>

</body>



</html>